<!DOCTYPE html>
<html lang="en">
  <head>
    <title>about</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    {{>header}}
  <p> {{ description }}</p>
    <img src="./img/image.jpg" alt="my dream body" />
        {{>footer}}
  </body>
</html>
